<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

        <!-- <form method = 'post'>
            {% csrf_token %}
            <select>
                <option name="name">Vekil</option>
                <option name="name">Hekim</option>
                <option name="name">Polis</option>
            </select>
        </form>
        <h1>{{content.melumat}}</h1> -->

      
    
    </body>
</html>